<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" role="img" aria-label="{{ title }}">
  <path d="M32 3 57.1 17.5v29L32 61 6.9 46.5v-29Z" fill="{{ accent }}"/>
  <path d="M22 47h6.2l4-10.6L36.4 47H43L34.9 17h-6.4l2.4 7.4Z" fill="#fff"/>
</svg>
