---
title: {{ title_json }}
description: {{ description_json }}
template: splash
hero:
  tagline: {{ description_json }}
  actions:
    - text: Get started
      link: /{{ repo_name }}/getting-started/
      icon: right-arrow
    - text: View on GitHub
      link: https://github.com/{{ repo }}
      icon: external
      variant: minimal
---

This is the front page. Say here, in a paragraph, what {{ title }} is for and
who reaches for it - the reader arrived from a search result or a README and
has not decided yet whether to stay.
