dist/
build/
node_modules/
.nyc_output/
*.log
npm-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Test
test/repos
test/results
test/coverage

# IDEs
.idea/
jsconfig.json
.vscode/

# Typings file.
typings/

# Misc
tmp/
temp/

# OS files.
.DS_Store
.Spotlight-V100
.Trashes
*.thumb
