use anyhow::Result;

use crate::cli::HelloArgs;

pub fn run(args: HelloArgs) -> Result<()> {
    println!("Hello, {}!", args.name);
    Ok(())
}

#[cfg(test)]
mod tests {
    use super::*;

    #[test]
    fn greets_without_failing() {
        let args = HelloArgs { name: "world".into() };
        assert!(run(args).is_ok());
    }
}
